:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

h4 {
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  text-align: center;
  width: 380px;
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 20px;
}
