.search {
  display: flex;
  position: relative;
  width: 90%;
  margin: 10px auto 0;
}

.search__input {
  flex-basis: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 0.8px #c0c0c0;
  border-right: none;
  padding: 13px 8px 10px 14px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;

  &:focus {
    border-color: #ccc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);

    & + .search__button {
      border-color: #ccc;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    }
  }

  &::-webkit-search-cancel-button {
    padding: 0.5px;
    opacity: 0.3;
    cursor: pointer;
    pointer-events: all;
  }

  &::-webkit-search-cancel-button:hover {
    opacity: 0.7;
  }
}

.search__button {
  flex-basis: 20%;
  background-color: rgba(211, 92, 71, 0.7);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 0.8px #c0c0c0;
  border-left: none;
  padding: 13px 8px 10px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #263852;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgba(211, 93, 71, 1);
  }
}
